<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.Office" version="3.0" targetFramework="net461" />
  <package id="JsonApiSerializer" version="1.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <!--<package id="Spire.Office" version="3.11.5" targetFramework="net461" />-->
</packages>